<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="header">

    <div class="main_header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="logo" href="index.html"><img th:src="@{/images/logo.png}" alt="logo" style="width: 45%; -webkit-transform: translateY(-25px);-moz-transform: translateY(-25px);-ms-transform: translateY(-25px);-o-transform: translateY(-25px);transform: translateY(-25px);"></a>
            </div>
            <div class="menu navbar-collapse collapse" id="myNavbar" >
                <ul class="nav navbar-nav navbar-right top_menu" style="background: rgba(255,255,255,0.1);">

                    <li class="" th:classappend="${isActiveCart}? hidden : ''"><a th:href="${urlCart}"><i class="fa fa-shopping-cart"></i> <span class="cart_badge" th:text="${addToCart}"></span></a></li>
                    <li class="" th:classappend="${isActiveCart}? hidden : ''"><a th:href="${urlSell}"><i class="fa fa-th"></i> Start Selling</a></li>

                    <!--<li class=""><a th:href="${urlSell}"><i class="fa fa-th"></i>Start Selling</a></li>-->



                    <!--<a th:href="${'/DigitalItem/addToFavorite/' + digitalItem.id}" class="btn btn-default"-->
                       <!--th:classappend="${isActiveFav}? active : ''"><i class="icon-heart"></i> Add to Favorites</a>-->
                    <!--<li><a href="cart.html"><i class="fa fa-shopping-cart"></i> <span class="cart_badge">3</span></a></li>-->
                    <li><a th:href="@{/allProduct}"><i class="fa fa-home"></i> Home</a></li>

                    <!--<li> <a th:href="@{'/User/'+${user.userName}+'/author_dashboard'}" style="background: rgba(255,255,255,0.1);"></i>Start Selling</a></li>-->

                    <li><a  class="" th:href="${urlDash}"><i class="fa fa-dashboard"></i> Dashboard</a></li>

                    <li class="" th:classappend="${isActiveCart}? '' : hidden"><a  class="" th:href="@{/login}"><i class="fa fa-sign-in"></i> Sign In</a></li>
                    <li class="" th:classappend="${isActiveCart}? hidden : ''"><a  class="" th:href="@{/logout}"><i class="fa fa-sign-out"></i> Sign Out</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-left bottom_menu">
                    <li class="active"><a th:href="@{'/allProduct'}"><img th:src="@{/images/theme_logo.png}" alt="second" style="width: 18px;"> Theme</a></li>
                    <li ><a href="#"><img  th:src="@{/images/logo/code_logo.png}"    alt="second" style="width: 18px;"> Code</a></li>
                    <li><a href="#"><img  th:src="@{/images/logo/3d_logo.png}"  alt="second" style="width: 18px;"> 3D</a></li>
                    <li><a href="#"><img  th:src="@{/images/logo/graphics_logo.png}"  alt="second" style="width: 18px;"> Graphics</a></li>
                    <li><a href="#"><img  th:src="@{/images/logo/audio_logo.png}"  alt="second" style="width: 18px;"> Audio</a></li>
                    <li><a href="#"><img  th:src="@{/images/logo/video_logo.png}"  alt="second" style="width: 18px;"> Video</a></li>
                </ul>
            </div>
        </div>


        <div class="sub_menu">
            <!--<div class="container">-->
                <!--<ul class="nav navbar-nav hidden-xs" >-->
                    <!--<li class="dropdown" th:each="entry: ${catagoryMenu}">-->

                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" th:each="entryNameKey : ${entry.key}"><span th:text="${entryNameKey.name}"></span> <span class="caret"></span></a>-->
                        <!--<ul class="dropdown-menu" role="menu" th:each="entryName : ${entry.value}">-->
                            <!--<li><a href="#"><span th:text="${entryName.name}"></span></a></li>-->

                        <!--</ul>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->



            <div class="container">
                <ul class="nav navbar-nav hidden-xs" >
                    <li class="dropdown" th:each="entryParentCat: ${catagoryMenuParent}">
                        <th:block th:if="${!catagoryMenuChild.get(entryParentCat.key).isEmpty()}">
                            <a th:href="@{'/Items/category/'+${entryParentCat.value.slug}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span th:text="${entryParentCat.value.name}"></span> <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu" >
                                <li th:each="entryName : ${catagoryMenuChild.get(entryParentCat.key)}"><a th:href="@{'/Items/category/'+${entryParentCat.value.slug}+'/'+${entryName.slug}}"><span th:text="${entryName.name}"></span></a></li>
                            </ul>
                        </th:block>
                        <th:block th:if="${catagoryMenuChild.get(entryParentCat.key).isEmpty()}">
                            <a th:href="@{'/Items/category/'+${entryParentCat.value.slug}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span th:text="${entryParentCat.value.name}"></span></a>
                        </th:block>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

</body>
</html>