<aside class="main-sidebar" xmlns:th="http://www.thymeleaf.org">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<ul class="sidebar-menu">
			<li class="header"><h1>Menu</h1></li>
			<li class="treeview"><a th:href="@{/Admin/prescription/reportView}">
					<i class="fa fa-dashboard"></i> <span>View Report</span></a></li>
			<li class="treeview"><a th:href="@{/Admin/prescription/addPrescription}">
					<i class="fa fa-dashboard"></i> <span>Generate New Prescription</span></a></li>
			<li class="treeview"><a th:href="@{/Admin/prescription/listOfAllPrescription}">
					<i class="fa fa-dashboard"></i> <span>All prescription</span></a></li>
			<li class="treeview"><a th:href="@{/Admin/Rest/listOfAllPrescription}">
					<i class="fa fa-dashboard"></i> <span>JSON View</span></a></li>
		<li class="treeview"><a th:href="@{/Admin/prescription/JsonTable}">
					<i class="fa fa-dashboard"></i> <span>JSON Date in Tabular </span></a></li>
		
		</ul>
	</section>
	<!-- /.sidebar -->
</aside>
<th:block th:include="fragments/control_sidebar"></th:block>
