<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>

<title>Admin Page</title>
<th:block th:include="fragments/resourceLinks :: head"></th:block>
<!-- DataTables -->
<link rel="stylesheet"
	th:href="@{/admin/plugins/datatables/dataTables.bootstrap.css}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://formden.com/static/cdn/bootstrap-iso.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="mx-auto" style="">
	<div class="wrapper">
	<th:block th:include="fragments/sidebar"></th:block>
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header"></section>
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1 align="center">ASSESMENT</h1>

			</section>

			<!-- Main content -->
			<section class="content">
				<div class="row">
					
					<div class="col-sm-12">
						<div class="box">
							<div class="box-header">
								<h1 align="center">Add new prescription</h1>

							</div>

							<!-- form start -->
							<form role="form" th:action="@{/Admin/prescription/save}"
								th:object="${prescription}" method="post">
								<div class="box-body">
									<input type="hidden" th:field="*{id}">

									<div class="form-group">
										Date input <label class="control-label" for="date">Date</label>
										<input class="form-control date" id="date"
											placeholder="MM/DD/YYY" type="text"
											th:field="*{visitingDate}" />
									</div>

									<div class="form-group">
										<label>Patient Name</label> <input type="text"
											class="form-control" placeholder="Enter  name"
											th:field="*{name}">
									</div>

									<div class="form-group">
										<label>Patient Age</label> <input type="text"
											class="form-control" placeholder="Enter your age"
											th:field="*{age}">
									</div>

									<div class="form-group">
										<label>Gender</label> <select class="form-control"
											name="category" th:field="*{gender}">
											<option value="Female">Female</option>
											<option value="Male">Male</option>
										</select>
									</div>
									<div class="form-group">
										<label>Diagnosis</label> <input type="text"
											class="form-control" placeholder="Enter Diagnosis"
											th:field="*{diagonosis}">
									</div>

									<div class="form-group">
										Date input <label class="control-label" for="date">Next
											Visiting Date</label> <input class="form-control date" id="date"
											placeholder="MM/DD/YYY" type="text"
											th:field="*{nextVisitingDate}" />
									</div>

								</div>

								<div class="box-footer">
									<button type="submit" class="btn btn-primary">Save</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->


	<!-- Bootstrap Date-Picker Plugin -->
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
	<script>
		$(document).ready(
				function() {
					var date_input = $('.date'); //our date input has the name "date"
					var container = $('.bootstrap-iso form').length > 0 ? $(
							'.bootstrap-iso form').parent() : "body";
					var options = {
						format : 'yyyy-mm-dd',
						container : container,
						todayHighlight : true,
						autoclose : true,
					};
					date_input.datepicker(options);
				})
	</script>

</body>

</html>
