<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin Page</title><th:block th:include="fragments/resourceLinks :: head"></th:block>
<!-- DataTables -->
<link rel="stylesheet"
	th:href="@{/admin/plugins/datatables/dataTables.bootstrap.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		
<th:block th:include="fragments/sidebar"></th:block>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">


			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Prescription List
				</h1>
			
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="row">
					<div class="col-sm-12">
						<div class="box">
							<div class="box-header">
							<a th:href="@{/Admin/prescription/addPrescription}" class="btn btn-primary"><span
									class="fa fa-plus"></span> Add New</a>
						</div>
							<!-- /.box-header -->
							<div class="box-body">
								<table id="example1" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Id</th>
											<th>Name</th>
											<th>Age</th>
											
										</tr>
									</thead>
									<tbody id="data">
										<tr>
											<td id="id"></td>
										<td id="name"></td>
										<td id="age"></td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- /.box-body -->
						</div>
					</div>
				</div>
			</section>
			<!-- /.content -->


		</div>

	
	</div>
	<script>
		  var xhttp = new XMLHttpRequest();
		  xhttp.onreadystatechange = function() {
		    if (this.readyState == 4 && this.status == 200) {
		      var arr = JSON.parse(xhttp.responseText);
		     arr.forEach(function(x){
		      var data = "<tr>";
		      data += "<td>"+ x.id +"</td><td>"+ x.name +"</td><td>"+ x.age +"</td>";
		      /* var actions = '<td><a href=\"/Admin/prescription/update/'+x.id+'\" class=\"btn btn-default\"><i class=\"fa fa-edit\"></i> edit</a> &nbsp; <a href=\"/Admin/prescription/delete/'+x.id+'\" class=\"btn btn-default\" onclick=\"return confirm(\"Are you sure to delte this?\")\"><i class=\"fa fa-trash-o\"></i> delete</a></td>';
				data += actions; */
				data += "</tr>"
		      document.getElementById('data').innerHTML += data;
		     });
		    }
		  };
		  xhttp.open("GET", "http://localhost:8091/Admin/Rest/listOfAllPrescription", true);
		  xhttp.send();
	
	</script>
</body>
</html>