<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<<title>Admin Page</title>
<th:block th:include="fragments/resourceLinks :: head"></th:block>
<!-- DataTables -->
<link rel="stylesheet"
	th:href="@{/admin/plugins/datatables/dataTables.bootstrap.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<th:block th:include="fragments/sidebar"></th:block>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">


			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Prescription List
				</h1>
			
			</section>

			<!-- Main content -->
			<section class="content">
				<div class="row">
					<div class="col-sm-12">
						<div class="box">
							<!-- /.box-header -->
							<div class="box-body">
								<table id="example1" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Date</th>
											<th>total Prescription</th>
										</tr>
									</thead>
									<tbody>

										<tr th:each="report : ${report}">

											<td
												th:text="${report.key != null ? report.key : 'Not Found'}"></td>
											<td
												th:text="${report.value != null ? report.value : 'Not Found'}"></td>
											</tr>
									</tbody>
								</table>
							</div>
							<!-- /.box-body -->
						</div>
					</div>
				</div>
			</section>
			<!-- /.content -->


		</div>

	
	</div>
	
	<!-- DataTables -->
	
	<script
		th:src="@{/admin/plugins/datatables/dataTables.bootstrap.min.js}"></script>
	<script>
		$(function() {
			$('#example1').DataTable({
				"paging" : true,
				"lengthChange" : false,
				"searching" : true,
				"ordering" : true,
				"info" : true,
				"autoWidth" : true
			});
		});
	</script>
	</body>
	</html>